export AZURE_SUBSCRIPTION_ID="1234567890"
export AZURE_TENANT_ID="1234567890"
export AZURE_CLIENT_ID="1234567890"
export AZURE_CLIENT_SECRET="1234567890"
export AZURE_RESOURCE_GROUP_NAMES="Development, Production"
export CLOUD_DEALLOCATOR_PATH="/home/$USER/Source/Repos/cloud-deallocator/"